<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include sidebar.html %}
      
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>
      
    <!-- Bootstrap Core JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="{{ site.baseurl }}/js/index.js"></script>

  </body>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    
    <script>
    $(document).ready(function(){
    $('#page-content-wrapper').fadeIn();
    });
    </script>

<script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-67528859-1");
            pageTracker._trackPageview();
            } catch(err) {}
</script>

</html>
